.lite {
    color: lightblue;
    button {
        color: lightblue;
        background: white;
    }
}

.dark {
    background-color: black;
    color: lightcoral;

    button {
        color: lightcoral;
        background-color: grey;
    }
}
